[Unit]
Description=Maintains the date and time on the node.

[Service]
ExecStart=/usr/lib/waggle/waggle_image/scripts/waggle_epoch.sh

Restart=Always
RestartSec=5

[Install]
WantedBy=multi-user.target
