[Unit]
Description=Waggle Registration

[Service]
Restart=always
RestartSec=3min
ExecStart=/root/waggle-registration

[Install]
WantedBy=multi-user.target
